<section>
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <span class="brand">Save a document</span>
  </div>
</div>
<form class="well bookmark-form">
 {{#if loadingContent }}
  <div class="progress progress-striped active">
    <div class="progress-bar"  role="progressbar" aria-valuenow="100"
      aria-valuemin="100" aria-valuemax="100" style="width:100%;">
    </div>
  </div>
 {{/if}}
  <div class="row">
    <div class="col-xs-3">
      <div class="bookmark-form-img-container"
        {{#if lead_image_url}}
        style="background-image:url({{lead_image_url}});"
        {{/if}}>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="subrow">
        <label for="bookmark-form-url">URL: </label>
        <input id="bookmark-form-url" type="text" value="{{url}}"/>
      </div>
      <div class="subrow">
        <label for="bookmark-form-title">Title: </label>
        <input id="bookmark-form-title" type="text" value="{{title}}"/>
      </div>
      <div class="subrow subrow-long">
        <label for="bookmark-form-save-content">Content available: </label>
        <input id="bookmark-form-save-content" type="checkbox"
          disabled="disabled"
          {{#if contentAvailable }}checked="checked"{{/if}} />
      </div>
    </div>
  </div>
  <div class="row bookmark-form-row">
    <div class="col-xs-12">
      <label class="bookmark-form-tags-label"
        for="bookmark-form-tag-input">Tags <small>(comma separated)</small>:
      </label>
    </div>
  </div>
  <div class="row bookmark-form-row">
    <div class="col-xs-12">
      <input id="bookmark-form-tag-input" type="text"/>
    </div>
  </div>
  <div class="row bookmark-form-row">
    <div class="col-xs-1">
      <label for="bookmark-form-notes">Notes:</label>
    </div>
  </div>
  <div class="row bookmark-form-row">
    <div class="col-xs-12">
      <textarea id="bookmark-form-notes"></textarea>
    </div>
  </div>
  <div class="row bookmark-form-row bookmark-form-footer">
    <span class="col-xs-4">
      <a target="_blank" href="/html/browser.html">Open bookmarks</a>
    </span>
    <span class="col-xs-8 bookmark-form-btns">
      <button class="btn btn-primary">Save</button>
      <button class="btn btn-default">Cancel</button>
    </span>
  </div>
</form>
</section>
