<h2>
  Tags
  <span class="glyphicon glyphicon-sort-by-alphabet"></span>
  <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
  <span class="glyphicon glyphicon-sort-by-attributes"></span>
  <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
</h2>
<div id="selected-tag-list">
  {{#each selectedTags}}
    {{> par_selected_tag }}
  {{/each}}
</div>
<div id="tags-list">
  {{#each tags}}
    {{> par_tag }}
  {{/each}}
</div>
<div id="empty-tags-list">
  {{#each emptyTags}}
    {{> par_tag }}
  {{/each}}
</div>
